In [ ]:
a = input('Enter your name:')
print('HEllo ,'+ a)

Enter your name:0
HEllo ,0

In [ ]:
x = (input("請輸入："))
x

b = x+50
b

請輸入：50

TypeError: ignored

In [ ]:
x = int (input("請輸入："))
x

b =(x+50)
b

請輸入：3

53

In [ ]:
a = '''iashuhuhqbwbdsuhfuia
auqahfoancaos
aiwdishibguefuckauwdsbbuheua.'''
print(a)

iashuhuhqbwbdsuhfuia
auqahfoancaos
aiwdishibguefuckauwdsbbuheua.

In [ ]:
x = 1.10
y = 1
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'int'>
<class 'float'>

In [ ]:
x = ["apple", "banana", "cherry", "apple", "cherry"]
print(x)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2022
}
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [ ]:
list = ["apple"]
print(list[:5])

['apple']

In [ ]:
list = ["apple", "banana", "cherry"]
print(list[0])

apple

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [ ]:
x = 35e3
y = 12E4

print(type(x))
print(type(y))

<class 'float'>
<class 'float'>

In [ ]:
x = 3+5j
print(type(x))

<class 'complex'>

In [ ]:
x = 1    
y = 2.8  
z = 1j   
#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "c" in x:
    newlist.append(x)

print(newlist)

['cherry']

In [ ]:
fruits = ["kiwi", "banana", "cherry", "apple", "water"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['banana', 'apple', 'water']

In [2]:
stduent = {
  "ID": "4110E113",
  "name": "wea",
  "born": 2022
}
stduent["number"] = 2
print(stduent)

{'ID': '4110E113', 'name': 'wea', 'born': 2022, 'number': 2}

In [16]:
myfamily = {
  "me" : {
    "name" : "ran",
    "year" : 2003
  },
  "bro" : {
    "name" : "Tobi",
    "year" : 2001
  },
  "sis" : {
    "name" : "Emy",
    "year" : 1998
  }
}
for x, y in myfamily.items():
  print(x, y)

me {'name': 'ran', 'year': 2003}
bro {'name': 'Tobi', 'year': 2001}
sis {'name': 'Emy', 'year': 1998}

In [ ]:
x = 6
y = 2

print(x % y)

0

In [ ]:
x = 1
y = 2

print(x % y)

1

In [ ]:
x = 4125152
y = 2

print(x % y)

0

In [ ]:
x = 2
y = 5

print(x ** y)

32

In [ ]:
x = 2
y = 10

print(x ** y)

1024

In [ ]:
x = 4125252
y = 2

print(x // y)

2062626

In [ ]:
x = 4125251
y = 2

print(x // y)

2062625

In [ ]:
x = 5

x += 3

print(x)

8

In [ ]:
x = 20

x += 3

print(x)

23

In [ ]:
x = 

x &= 3

print(x)

1

In [ ]:
x = 5
y = 8

print(x != y)

True

In [ ]:
x = 8

print(x > 6 and x < 9)

True

In [ ]:
x = 8
y = 7

print(x / y)

1.1428571428571428

In [ ]:
x = ["0", "21"]
y = ["0", "21"]
z = x

print(x is z)
#UNDERSANAD!
print(x is y)

print(x == y)

True
False
True

In [ ]:
x = 3

print(not(x > 3 and x < 10))

True

In [ ]:
x = 5
y = 3
# (! is not)
print(x != y)

True

In [ ]:
x = ["1", "0"]

print("1" not in x)

False

In [ ]:
x = "hey, 4110E113!"
print(x[:8])

hey, 411

In [ ]:
a = "hello, 4110e113!"
print(a.upper())

HELLO, 4110E113!

In [ ]:
x ="HELLO, 4110E113"
print(lower())

NameError: ignored

In [ ]:
x ="HELLO, 4110E113"
print(x.lower())

hello, 4110e113

In [ ]:
a = "Hello, 3000E113!"
print(a.replace("300", "411"))

Hello, 4110E113!

In [ ]:
a = "hey"
b = "4110E113"
c = a + "\t" + b
print(c)

hey	4110E113

In [1]:
height = 100
x = "my height is {}"
print(x.format(height))

my height is 100

In [6]:
txt = "i'm good\t maybe\nnice to meet u"
print(txt)

i'm good	 maybe
nice to meet u

In [17]:
x = "hElLo, HeLlO"
x.capitalize()

'Hello, hello'

In [23]:
x = "Hello, 4110E113"
y = "l"
x.count(y)

2

In [35]:
x = ["a", "b", "c"]
x[0:2] = "x", "y"
print(x)

['x', 'y', 'c']

In [42]:
x = [1, 2, 3]
x.insert(0,0)
print(x)

[0, 1, 2, 3]

In [49]:
x = ["1", "2", "3"]
del x[0]
print(x)

['2', '3']

In [54]:
txt = ["0", "1", "2"]
for x in txt:
  print(x)

0
1
2

In [66]:
num1 = ["0422530", "12346271", "2456", "3345783", "4230462"]
num2 = []

for x in num1:
  if "0" in x:
    num2.append(x)

print(num2)

['0422530', '4230462']

In [68]:
num = [0, 1, 2, 3, 4]
num.sort()
print(num)

[0, 1, 2, 3, 4]

In [69]:
num1 = ["0", "1", "2"]
num2 = num1.copy()
print(num2)

['0', '1', '2']

In [70]:
num1 = [4, 1, 1]
num2 = [0, "E", 1, 1, 3]

num1.extend(num2)
print(num1)

[4, 1, 1, 0, 'E', 1, 1, 3]

In [72]:
num = ['0', '1', '2']
num.append("3")
print(num)

['0', '1', '2', '3']

In [75]:
student = {
  "ID": "4110E113",
  "name": "wea",
}
x = student["ID"]
print(x)

4110E113

In [80]:
student = {
  "ID": "4110E113",
  "name": "wea",
}
student["name"] = "wearan"
print(student)

{'ID': '4110E113', 'name': 'wearan'}

In [3]:
student = {
  "ID": "4110E113",
  "name": "yuki",
  "year": 1964
}
del student["year"]
print(student)

{'ID': '4110E113', 'name': 'yuki'}

In [9]:
student = {
  "ID": "4110E113",
  "name": "yuki",
}
for x, y in student.items():
  print(x, y)

ID 4110E113
name yuki

In [11]:
student = {
  "ID": "4110E113",
  "name": "yuki",
}
txt = student.copy()

for x, y in txt.items():
  print(x, y)

ID 4110E113
name yuki

In [17]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

car["color"] = "white"

print(x)

dict_keys(['brand', 'model', 'year', 'color'])

In [22]:
myfamily = {
  "me" : {
    "name" : "ran",
    "year" : 2003
  },
  "bro" : {
    "name" : "Tobi",
    "year" : 2001
  },
  "sis" : {
    "name" : "Emy",
    "year" : 1998
  }
}

myfamily.clear()
print(myfamily)

{}

In [23]:
print(10 & 5)

0