In [1]:
a = input('Enter your name:')
print('HEllo ,'+ a)

Enter your name:0
HEllo ,0

In [3]:
x = int(input("請輸入："))
x

b = x+50
b

請輸入：8

58

In [5]:
a = '''iashuhuhqbwbdsuhfuia
auqahfoancaos
aiwdishibguefuckauwdsbbuheua.'''
print(a)

iashuhuhqbwbdsuhfuia
auqahfoancaos
aiwdishibguefuckauwdsbbuheua.

In [6]:
x = 1.10
y = 1
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'int'>
<class 'float'>

In [7]:
x = ["apple", "banana", "cherry", "apple", "cherry"]
print(x)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [10]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2022
}
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [12]:
list = ["apple"]
print(list[:5])

['apple']

In [19]:
list = ["apple", "banana", "cherry"]
print(list[0])

apple

In [20]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [27]:
x = 35e3
y = 12E4

print(type(x))
print(type(y))

<class 'float'>
<class 'float'>

In [29]:
x = 3+5j
print(type(x))

<class 'complex'>

In [31]:
x = 1    
y = 2.8  
z = 1j   
#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [22]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [26]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [32]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [36]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "c" in x:
    newlist.append(x)

print(newlist)

['cherry']

In [41]:
fruits = ["kiwi", "banana", "cherry", "apple", "water"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['banana', 'apple', 'water']

In [44]:
thisdict = {
  "brand": "Ford",
  "model": "1001101",
  "year": 2022
}
thisdict["color"] = "blue"
print(thisdict)

{'brand': 'Ford', 'model': '1001101', 'year': 2022, 'color': 'blue'}

In [52]:
myfamily = {
  "me" : {
    "name" : "ran",
    "year" : 2003
  },
  "bro" : {
    "name" : "Tobi",
    "year" : 2001
  },
  "sis" : {
    "name" : "Emy",
    "year" : 1998
  }
}
print(myfamily)

{'me': {'name': 'ran', 'year': 2003}, 'bro': {'name': 'Tobi', 'year': 2001}, 'sis': {'name': 'Emy', 'year': 1998}}

In [53]:
x = 6
y = 2

print(x % y)

0

In [54]:
x = 1
y = 2

print(x % y)

1

In [55]:
x = 4125152
y = 2

print(x % y)

0

In [56]:
x = 2
y = 5

print(x ** y)

32

In [57]:
x = 2
y = 10

print(x ** y)

1024

In [59]:
x = 4125252
y = 2

print(x // y)

2062626

In [60]:
x = 4125251
y = 2

print(x // y)

2062625

In [61]:
x = 5

x += 3

print(x)

8

In [62]:
x = 20

x += 3

print(x)

23

In [68]:
x = 

x &= 3

print(x)

1

In [69]:
x = 5
y = 8

print(x != y)

True

In [70]:
x = 8

print(x > 6 and x < 9)

True